.footer {
  box-shadow: 0 0 10px -1px var(--c-black);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {

    &-list {
      display: flex;
      gap: 10px;
    }

    &-link {
      color: var(--c-white);
    }
  }
}