@use "../../styles/variables" as *;

.header {
  position: fixed;
  width: 100%;
  padding: 10px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    color: $color-white;
  }

  &__menu {
    display: flex;
    gap: 30px;
  }

  &__theme {
    display: flex;
    border: 1px solid $color-black;
    border-radius: 20px;
    max-width: 70px;
    width: 100%;
    cursor: pointer;

    &:hover {
      border-color: red;
    }

    &-light {
      border-color: $color-purple-light;
      background-color: $color-light-gray-2;
    }

    &-dark {
      border-color: $color-purple-light;
      background-color: $color-jaguar;
    }

    &-button {
      padding: 0;
      border: none;
      border-radius: 50%;
      box-shadow: unset;
      width: 35px;
      height: 35px;
      transition: transform 0.7s ease-in-out;
      transform: translateX(0) rotate(0);

      &:hover {
        background-color: unset;
      }

      &.active {
        transform: translateX(calc(70px - 37px)) rotate(360deg);
      }
    }

    &__icon:hover {
      background-color: unset;
    }
  }
}

