// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-jaguar: #1D1C29;
$color-light-gray: #e6e6e6;
$color-light-gray-2: #dddddd;
$color-purple-light: #5b2f66;

// Typography
$ff-main: "PTSans", "Arial", sans-serif;
$ff-secondary: "Arsenal", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-200: ease-in 0.2s;
