:root {
  // Colors
  --c-white: #ffffff;
  --c-white-20: rgba(255, 255, 255, 0.2);
  --c-black: #000000;
  --c-jaguar-dark: #2c2a41;
  --c-sun-yellow: #FFF200;
  --c-light-gray: #e6e6e6;
  --c-purple: #9143a5;

  // Typography
  --ff-main: "PTSans", "Arial", sans-serif;
  --ff-secondary: "Arsenal", "Arial", sans-serif;

  // Viewport
  --vp-tablet: 1023px;
  --vp-mobile: 767px;

  // Animation
  --transition-200: ease-in 0.2s;

  --border-radius-16: 16px;
  --border-radius-50: 50%;

  --padding-0: 0;
  --padding-5: 5px;
  --padding-5-10: 5px 10px;
  --padding-15-0: 15px 0;

  --width-100: 100%;

  // Font size
  --fsize-16: 16px;
  --fsize-18: 18px;
  --fsize-20: 20px;
  --fsize-24: 24px;

  // Font weight
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

}

// Dealy
$delay-02: 0.2s