@use "../styles/variables" as *;

html {
  transition: background-color var(--transition-200) $delay-02, color var(--transition-200) $delay-02;
  background-color: var(--c-light-gray);

  &.light {

    .header {
      background-color: var(--c-light-gray);

      &__menu-item-link {
        color: var(--c-jaguar-dark);
      }

      &__theme {
        background-color: var(--c-jaguar-dark);
      }

      &__icon {
        color: var(--c-jaguar-dark);
      }
    }

  }
  &.dark {
    background-color: var(--c-jaguar-dark);
  }
}
body {
  height: 100%;
  min-height: 100vh;
}
main {
  padding: 98px 0 0 0;
}
