@use "../../styles/variables" as *;
@use "../../styles/button" as *;
@use "../../styles/link" as *;

.hero-sect {
  min-height: 600px;
  margin: 0 0 110px 0;
}

.hero {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 40px 0 0 0;

    .hero__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 55px;
      margin: 0;

      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;

        &-title {
          position: relative;
          color: transparent;
        }

        &-title,
        &-desc {
          font-weight: var(--fw-regular);
          line-height: var(--lh-44);
          color: var(--c-white);
          margin: 0;
        }

        &-title {
          font-size: var(--f-size-h1);
        }

        &-desc {
          font-size: var(--f-size-h2);
          transition: color var(--transition-200) $delay-02;
        }

        &-title::before {
          background: linear-gradient(var(--c-purple) 65%, var(--c-white) 90%);
        }

        &-title::after {
          background: linear-gradient(var(--c-purple) 65%, var(--c-jaguar-dark) 90%);
          opacity: 0;
          transition: opacity var(--transition-200) $delay-02;
        }

        &-title::before,
        &-title::after {
          content: attr(data-text);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          position: absolute;
          inset: 0;
        }
      }
    }

    .hero__game {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 360px;
      width: 100%;
      height: 100%;
      margin: 0;
      position: relative;

      // Links
      &-links {
        display: flex;
        gap: 20px;
        justify-content: center;
      }

      &-inner {
        display: flex;
        align-items: end;
        justify-content: center;
        height: 407px;
      }
    }

    &-button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: unset;
      border: unset;
      border-radius: var(--border-radius-16);
      box-shadow: 0 0 10px -2px var(--c-white-20);

      &::before {
        content: "";
        position: absolute;
        border: 1px solid transparent;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        border-radius: var(--border-radius-16);
        transform: translate(-50%, -50%) scale(1.2);
        transition: transform var(--transition-200),
          border var(--transition-200);
      }

      &:hover {
        color: var(--c-purple);
      }

      &:hover::before {
        border-color: var(--c-purple);
        transform: translate(-50%, -50%) scale(1);
      }

      &:focus-visible {
        color: var(--c-purple);
      }

      &:focus-visible::before {
        border-color: var(--c-purple);
        transform: translate(-50%, -50%) scale(1);
      }

      &.ant-btn-default.ant-btn-default svg {
        transition: color var(--transition-200);
      }

      &.ant-btn-default.ant-btn-default:hover {
        background: unset;

        svg {
          color: var(--c-purple);
        }
      }

      &-arrow {
        color: var(--c-white);
      }
    }
  }
}
